{{ "loading.css" | stylesheet_tag }}
<div class="loading_container" id="loading">
  <div class="loading_content">
    <div class="loading_body">
      <div id="step">
        <div id="step_1" class="step"></div>
        <div id="step_2" class="step"></div>
        <div id="step_3" class="step"></div>
        <div id="step_4" class="step"></div>
        <div id="step_5" class="step"></div>
        <div id="step_6" class="step"></div>
        <div id="step_7" class="step"></div>
        <div id="step_8" class="step"></div>
      </div>
      <div class="loading_wait">Aguarde</div>
    </div>
  </div>
</div>
